@use '../base' as *;

.about {
    background-color: $gold;

    .container {
        margin: 0;
        padding: 5% 5% 0 5%;

        @include mq (768) {
            padding: 10% 5% 0 5%;
        }
    }

    .about__title {
        text-align: center;
        margin-bottom: 50px;

        @include mq (768) {
            margin-bottom: 30px;
        }
    }

    .about__description {
        max-width: 1100px;
        margin: 0 auto;
        text-align: justify;
    }


    .about__infinity-slider-wrapper {
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 10%;
            height: 100%;
            background: linear-gradient(to right, $gold, transparent);
            z-index: 10;
            pointer-events: none;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 10%;
            height: 100%;
            background: linear-gradient(to left, $gold, transparent);
            z-index: 10;
            pointer-events: none;
        }
    }

    .about__link {
        margin: 80px auto;

        @include mq (768) {
            margin: 50px auto;
        }
    }

    .about__infinity-slider {
        padding-bottom: 100px;
        display: flex;
        align-items: center;

        img {
            border-radius: 8px;
            width: 100%;
            height: 168px;
            max-width: 320px;
            object-fit: cover;
            margin-right: 40px;

            @include mq (991) {
                max-width: 160px;
                height: 100px;
                margin-right: 20px;
            }
        }

        @include mq (768) {
            padding-bottom: 70px;
        }
    }
}

@media screen and (min-width: 1921px) {
    .about {
        .about__title {
            margin-bottom: 2.60417vw;
        }

        .about__description {
            max-width: 57.29167vw;
        }

        .about__link {
            margin: 4.16667vw auto;
        }

        .about__infinity-slider {
            padding-bottom: 5.20833vw;

            img {
                border-radius: 0.41667vw;
                height: 8.75vw;
                max-width: 16.66667vw;
                margin-right: 2.08333vw;
            }
        }
    }
}