@use '../base' as *;

.footer {
    background-color: $dark-grey;

    .footer__container {
        padding: 30px 5%;

        @include mq (768) {
            padding: 10% 5%;
        }
    }

    .footer__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @include mq (768) {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }
    }

    .footer__content {
        margin-right: 20px;
    }

    .footer__map {
        width: 100%;
        max-width: 700px;
        height: 550px;
        position: relative;
        overflow: hidden;
        border-radius: 12px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include mq (1350) {
            max-width: 600px;
        }

        @include mq (1200) {
            max-width: 490px;
        }

        @include mq (1024) {
            margin-top: 50px;
            max-width: 100%;
        }

        @include mq (768) {
            margin-top: 20px;
        }

        @include mq (480) {
            height: 250px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            pointer-events: none;
            opacity: 0;
            transition: background-color 0.3s ease, opacity 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            font-size: 2rem;
            z-index: 2;
        }

        &:hover::after {
            background-color: rgba(0, 0, 0, 0.9);
            opacity: 1;
        }

        &[data-lang="en"]:hover::after {
            content: 'Open map';
        }

        &[data-lang="sr"]:hover::after {
            content: 'Otvorite mapu';
        }
    }

    .footer__info {
        margin-top: 50px;
        margin-bottom: 30px;
        color: $white;

        .footer__contact {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            span {
                width: 30px;
                height: 30px;
            }

            svg {
                width: 30px;
                height: 30px;

                path,
                polyline,
                line {
                    stroke: $gold;
                }
            }
        }

        .footer__email {
            color: $white;
            transition: all 0.3s ease;
            position: relative;
            text-decoration: none;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $gold;
                transition: width 0.3s ease;
            }

            &:hover {
                color: $gold;

                &::after {
                    width: 100%;
                }
            }
        }

        .footer__address-link {
            color: $white;
            text-decoration: none;
            transition: all 0.3s ease;

            &:hover {
                color: $gold;
            }
        }

        .footer__address {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-style: normal;

            span {
                width: 30px;
                height: 30px;
            }

            svg {
                width: 30px;
                height: 30px;

                path,
                circle {
                    stroke: $gold;
                }
            }
        }

        .footer__time {
            margin-top: 10px;
            margin-bottom: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            span {
                width: 30px;
                height: 30px;
            }

            svg {
                width: 30px;
                height: 30px;

                path,
                circle,
                polyline {
                    stroke: $gold;
                }
            }
        }
    }

    .footer__list {
        margin-top: 40px;

        .footer__link {
            color: $white;
            transition: all 0.3s ease;
            position: relative;
            text-decoration: none;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $gold;
                transition: width 0.3s ease;
            }

            &:hover {
                color: $gold;

                &::after {
                    width: 100%;
                }
            }
        }

        .footer__item {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .footer__divider {
        border-color: $gold;
    }

    .footer__bottom {
        color: $white;
    }
}

// 4K responsive styles
@media screen and (min-width: 1921px) {
    .footer {
        .footer__container {
            padding: 1.5625vw 5%;
        }

        .footer__content {
            margin-right: 1.04167vw;
        }

        .footer__map {
            max-width: 36.45833vw;
            height: 28.64583vw;
            border-radius: 0.625vw;
        }

        .footer__info {
            margin-top: 2.60417vw;
            margin-bottom: 1.5625vw;

            .footer__contact {
                gap: 0.52083vw;

                svg {
                    width: 1.5625vw;
                    height: 1.5625vw;
                }
            }

            .footer__email {
                &::after {
                    bottom: -0.26042vw;
                    height: 0.10417vw;
                }
            }

            .footer__address {
                margin-top: 0.52083vw;
                gap: 0.52083vw;

                svg {
                    width: 1.5625vw;
                    height: 1.5625vw;
                }
            }

            .footer__time {
                margin-top: 0.52083vw;
                margin-bottom: 0.26042vw;
                gap: 0.52083vw;

                svg {
                    width: 1.5625vw;
                    height: 1.5625vw;
                }
            }
        }

        .footer__list {
            margin-top: 2.08333vw;

            .footer__link {
                &::after {
                    bottom: -0.26042vw;
                    height: 0.10417vw;
                }
            }

            .footer__item {
                margin-bottom: 0.52083vw;
            }
        }
    }
}