@use '../base' as *;
@use 'sass:color';

.error {
    .error__container {
        padding: 15% 0;
        display: flex;
        flex-direction: column;
        color: $white;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    .error__code {
        color: $gold;
        text-shadow: 0 0 20px rgba($gold, 0.5);
    }

    .error__back-link {
        margin-top: 20px;
        animation: none;
        opacity: 1;
        transform: none;
    }
}

@media screen and (min-width: 1921px) {
    .error {
        .error__container {
            gap: 1.04167vw;
        }

        .error__code {
            text-shadow: 0 0 1.04167vw rgba($gold, 0.5);
        }

        .error__back-link {
            margin-top: 1.04167vw;
        }
    }
}