@use '../base' as *;

.info {

    @include mq (1024) {
        margin-bottom: 70px;
    }

    .info__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: $white;
        gap: 40px;

        &--reverse {
            flex-direction: row-reverse;
        }

        @include mq (1024) {
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 0;
        }
    }

    .info__content {
        max-width: 700px;

        .info__title {
            margin-bottom: 50px;

            @include mq (1024) {
                margin-bottom: 35px;
            }
        }
    }

    .info__image {
        max-width: 900px;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba($gold, 0.8);

        img {
            border-radius: 12px;
            width: 100%;
            height: auto;
            display: block;
        }

        @include mq (1024) {
            margin-bottom: 50px;
            max-width: 100%;
            width: 100%;
        }
    }

    .info__buttons {
        margin-top: 35px;
        display: flex;
        flex-direction: row;
        gap: 20px;

        @include mq (1440) {
            .info__button.btn-primary {
                padding: 7px 10px;
                border-radius: 6px;
            }
        }

        @include mq (640) {
            gap: 15px;

            .info__button {
                font-size: 13px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        @include mq (420) {
            .info__button {
                font-size: 11px;

                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

// 4K responsive styles
@media screen and (min-width: 1921px) {
    .info {
        .info__container {
            gap: 2.08333vw;
        }

        .info__content {
            max-width: 36.45833vw;

            .info__title {
                margin-bottom: 2.60417vw;
            }
        }

        .info__image {
            max-width: 46.875vw;
            border-radius: 0.625vw;
            box-shadow: 0 0 1.04167vw rgba($gold, 0.8);

            img {
                border-radius: 0.625vw;
            }
        }

        .info__buttons {
            margin-top: 1.82292vw;
            gap: 1.04167vw;
        }
    }
}