// COLORS
$black: #0b0b0b;
$white: #ffffff;

$gold: #BFA14A;
$dark-grey: #1E1E1E;
$cream: #F4EFE6;
$red: #ff2473;
$orange: #FF6F1F;
$green: #00FF41;
$secondary: #F59827;

// BREAKPOINTS
$lap-large: 1440;
$lap-small: 1250;
$tablet-l: 1200;
$tablet: 991;
$phone: 640;