---
import Layout from '../../layouts/layout.astro';
import RatesTable from '../../components/rates-table.astro';
import { fetchRates } from '../../ts/API/useRates';
import { Schema } from 'astro-seo-schema';

const { rates, lastUpdate } = await fetchRates();

const pageData = {
  title: 'Exchange Rates',
  description:
    'Updated exchange rates with buying and selling prices for Euro (EUR), Dollar (USD), Franc (CHF), British Pound (GBP), Australian (AUD) and Canadian Dollar (CAD), as well as Convertible Mark (BAM).',
};
---

<Layout
  title={pageData.title + ' - Genes Exchange Office Novi Sad'}
  description={pageData.description}
  ogImage="/images/HeroBanner.webp"
  lang="en"
>
  <Schema
    item={{
      '@context': 'https://schema.org',
      '@type': 'WebPage',
      name: pageData.title,
      description: pageData.description,
      url: 'https://menjacnicagenes.rs/en/exchange-rates',
    }}
  />
  <main class="exchange-rates">
    <RatesTable
      rates={rates}
      lastUpdate={lastUpdate}
      lastUpdateText="Last update:"
      disclaimer="The rates are for informational purposes only and are subject to change."
      buyLabel="Buy"
      sellLabel="Sell"
      dayLabel="Today"
      weekLabel="This week"
      monthLabel="This month"
      yearLabel="This year"
      backButton="Go back"
      currencyLabel="Currency"
    />
  </main>
</Layout>
