// BASE
@use 'base' as *;

// HEADER AND FOOTER

@use 'components/header';
@use 'components/footer';

// HERO SECTIONS
@use 'components/hero';
@use 'components/hero-small';

// COMPONENTS

@use 'components/rates';
@use 'components/info';
@use 'components/four-zero-four';
@use 'components/accordion';
@use 'components/about';